/*Circulo que contiene el contador*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  url(/src/img/groot-eyu0znclsfx37s76.jpg);
    background-size: cover;
    background-repeat: no-repeat ;

}

.tare{
    color: aliceblue;
    font-size: 30px;

}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    
}
#int2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.INPUT{
    display: grid;
    grid-template-columns: auto;
    background-color:  transparent);
}

.int{
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    font-size: 17px;
    border-radius: 40px;
    height: 30px;
}

.btn{
    border-radius: 40px;
    height: 30px;
    color: aliceblue;
    background-color: transparent;
    font-size: medium;
}

.contenedorInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    
    
}

.contenedorPadre{
    background-color: rgba(0, 0, 0, 0.507);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.tar {
    text-align: center;
    font-family: cursive;
    font-size: 25px;
}

.parrafo{
border: 1px solid black;
padding: 5px;
margin: 10px;
}

.Lista{
    margin-top: 30px;
    min-height: 400px;
    border: 1px solid black;
    color: aliceblue;
}

.sev{
    display: none;
    font-family: cursive;
    position: absolute;
    top: 45%;
    left: 50%;
    color: aliceblue;
    font-size: 20px;
}